/* CSS reset */
html,
body,
ol,
pre,
form,
fieldset,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
ol,
ul {
  list-style: none;
}
.clear {
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* !CSS reset */
/* button reset */
/* sprites */
body {
  color: red;
}
img {
  width: 50px;
}
.content {
  position: relative;
  background: #EEE;
}
.progress {
  width: 0%;
  height: 1px;
  -webkit-transition: width 0.3s ease-in-out, opacity 1s ease-in-out;
  transition: width 0.3s ease-in-out, opacity 1s ease-in-out;
  background: red;
}
.test-sprite {
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  background-size: 41px 41px;
  background-image: url(datas/img/sprites.png);
  background-repeat: no-repeat;
  background-color: orange;
}
