@mixin stitches-sprites($x, $y, $width, $height, $scale:1) {
	background-position: $x*$scale $y*$scale;
	width: $width*$scale;
	height: $height*$scale;
	background-size : 82px*$scale 82px*$scale;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
}

@mixin sprite-1($scale:1) { @include stitches-sprites(0px, 0px, 40px, 40px, $scale); }
@mixin sprite-2($scale:1) { @include stitches-sprites(-42px, 0px, 40px, 40px, $scale); }
@mixin sprite-3($scale:1) { @include stitches-sprites(0px, -42px, 40px, 40px, $scale); }


